.container {
    padding: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
  height: 25rem;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px #5db9f3,
    inset -5px -5px 15px #84cdfa,
    5px 5px 15px #5ad1cd, -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  padding: 4rem 0rem;
  
}

.cardBody, .cardBodyBottom{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  gap: 1rem;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg,#d9eaed,#64c6ed);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.cardBody>span{
  font-size: 20px;
  padding: 0rem 1rem;
  text-align: center;
}

.cardBodyBottom>span{
  font-weight: 500;
  font-size: 16px;
}


