.container {
    padding: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card, .cardActive {
  height: 25rem;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(202, 197, 197, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(216, 215, 215, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background: whitesmoke;
}

.cardActive{
  box-shadow: 
  inset -5px -5px 15px #84cdfa,
  5px 5px 15px #5ad1cd, -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.cardHeader>img{
  width: 100%;
  object-fit: cover;
  height: 10rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.cardBody{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.cardBody>span{
  font-size: 13px;
}
.cardBodyHeader{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  
}
.cardBodyHeader>span{
  font-size: small;
}

.cardBody>span:nth-child(2){
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: 16px;
}

.cardBodyHeader>:nth-child(1){
  font-weight: bold;
}

.sourceNameContainer>span{
  font-size: small;
  border: none;
  background: rgb(231, 20, 20);
  border-radius: 3rem;
  padding: 2px 7px;
  font-weight: bold;
}

.cardBodyFooter{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}