.container {
    padding: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(202, 197, 197, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(216, 215, 215, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background: whitesmoke;
}

.cardHeader>img{
  width: 100%;
  object-fit: cover;
  height: 10rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.cardBody{
  display: flex;
  flex-direction: column;
}

.cardBody>span{
  font-size: small;
}

.cardBodyFooter{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}