:root{
  height: 100vh;
}

html{
  height: 100vh;
}

::-webkit-scrollbar{
  height: 12px;
  width: 7px;
  }
  
  ::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb{
  background: skyblue;
  border-radius: 1ex;
  }

  a{
    text-decoration: none;
    color: inherit
  }

.title{
  font-size: 3rem;
  font-weight: bold;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg,#d9eaed,#64c6ed);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}