:root{
  height: 100vh;
}

html{
  height: 100vh;
}

::-webkit-scrollbar{
  height: 12px;
  width: 7px;
  }
  
  ::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb{
  background: skyblue;
  border-radius: 1ex;
  }

  a{
    text-decoration: none;
    color: inherit
  }