@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    background: rgb(225, 221, 221);
    overflow-x: hidden;
    transition: all 3ms ease;
    scroll-behavior: smooth;
}

*{      /** * means all elements*/
    box-sizing: border-box;
}

