@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    background: rgb(225, 221, 221);
    overflow-x: hidden;
    transition: all 3ms ease;
    scroll-behavior: smooth;
}

*{      /** * means all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
