@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
    overflow-x: hidden;
    transition: all 3ms ease;
    scroll-behavior: smooth;
}

*{      /** * means all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
